@import "../scss/paginas/contacto","../scss/paginas/tapiceria","../scss/paginas/productos", "../scss/layoutDiseño/header","../scss/layoutDiseño/footer", "../scss/componentes/botones","../scss/componentes/carrusel","../scss/componentes/cards","../scss/componentes/map","../scss/componentes/whastappBoton","../scss/componentes/testimonios";

