footer {
  background-color: rgb(179,142,108);

  a {
    color: black;
    text-decoration: none;
  }

  .linkDiv {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-right: 7px;
    background-color: rgb(115,60,24);
    padding-top: 30px;

  }

  .seccionFooter {
    justify-content: space-evenly;
  }

  .copy {
    margin-left: 2%;
  }
}
