/* CARRUSEL */
.miCarro {
  max-width: 1200px;
  margin: auto; /* Centrar el carrusel horizontalmente */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 10px;
  
  
  .carousel-inner {
    img {
      width: 100%;
      max-height: 325px;
      object-fit: cover; /* Ajustar la imagen manteniendo la proporción */
      border-radius: 5px;
    }
  }
}

.carruselTxt {
  max-height: 90px;
}

.textShadowTitulo, .textShadow {
  background-color: rgba(230, 197, 137, 0.842);
  color: black;
  text-decoration: solid;
  border-radius: 5px;
  margin-bottom: 2px;
  
}

.carruselBoton {
  background-color: rgba(255, 235, 205, 0.142);
  border-radius: 20px;
}
