.cajaQuienesSomos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 15px;
}

.QuienesSomos {
  background-color: #9b94944d;

  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.QuienesSomos2,
.QuienesSomos3 {
  background-color: #967a6e80;
}

/* Estilos adicionales para QuienesSomos2 y QuienesSomos3 */
.QuienesSomos2,
.QuienesSomos3 {
  margin-top: 10px;
}

.tituloQuienesSomos {
  color: #b4b4b4;
  text-align: center;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.carouselQuienesSomos {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.imgQuienesSomos {
  border-radius: 5px;
  background-size: cover;
}

  
    .tituloQuienesSomos {
      color: #b4b4b4;
      text-align: center;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }
  
    .carouselQuienesSomos {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
  
    .imgQuienesSomos {
      border-radius: 5px;
      background-size: cover;
    }
 
