.sobre-nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambio a 3 columnas */
  grid-gap: 20px;
  padding: 40px;
  background-color: rgb(180, 98, 44);
  

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    h2, h3 {
      margin-top: 0;
    }

    &:nth-child(odd) {
      background-color: #f0f0f0;
    }
  }

  .map-section {
    grid-column: 1 / span 1;
    padding: 0;
    box-shadow: none;
    background-color: transparent;

    iframe {
      width: 100%;
      height: 15rem;
      border: none;
    }
  }

  // Definición de áreas
  grid-template-areas:
    "welcome welcome welcome"
    "design design mission"
    "location map map"
    "location map map";
  
    
  // Asignación de áreas a las secciones
  .section1 { grid-area: welcome; }
  .section2 { grid-area: design; }
  .section3 { grid-area: mission; }
  .section4 { grid-area: location; }
  .map-section { grid-area: map; }
}

@media (max-width: 768px) {
  .sobre-nosotros {
    grid-template-columns: 1fr;
    grid-template-areas:
      "welcome"
      "design"
      "mission"
      "location"
      "map";
  }
}
.delay {
  animation-delay: 0.3s; 
}